### Introduction to *Blue Book for Bulldozers*

Blue Book for Bulldozers Kaggle Competition: "The goal of the contest is to predict the sale price of a particular piece of heavy equiment at auction based on it's usage, equipment type, and configuration.  The data is sourced from auction result postings and includes information on usage and equipment configurations."

This is a very common type of dataset and prediciton problem, and similar to what you may see in your project or workplace.

### Imports

In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn.tree import DecisionTreeRegressor

from sklearn import metrics
import pandas as pd
import numpy as np
from structured import *

In [3]:
PATH = "bluebook-for-bulldozers/"

In [4]:
!ls {PATH}

'Data Dictionary.xlsx'		    Train.7z	        Train.zip
 Machine_Appendix.csv		    TrainAndValid.7z    Valid.7z
 median_benchmark.csv		    TrainAndValid.csv   Valid.csv
 random_forest_benchmark_test.csv   TrainAndValid.zip   ValidSolution.csv
 Test.csv			    Train.csv	        Valid.zip

### The data

Kaggle provides info about some of the fields of our dataset; on the [Kaggle Data info](https://www.kaggle.com/c/bluebook-for-bulldozers/data) page they say the following:

For this competition, you are predicting the sale price of bulldozers sold at auctions. The data for this competition is split into three parts:

- **Train.csv** is the training set, which contains data through the end of 2011.
- **Valid.csv** is the validation set, which contains data from January 1, 2012 - April 30, 2012 You make predictions on this set throughout the majority of the competition. Your score on this set is used to create the public leaderboard.
- **Test.csv** is the test set, which won't be released until the last week of the competition. It contains data from May 1, 2012 - November 2012. Your score on the test set determines your final rank for the competition.

The key fields are in train.csv are:

- SalesID: the uniue identifier of the sale
- MachineID: the unique identifier of a machine.  A machine can be sold multiple times
- saleprice: what the machine sold for at auction (only provided in train.csv)
- saledate: the date of the sale

In [5]:
df_raw = pd.read_csv(f'{PATH}Train.csv', low_memory=False, 
                     parse_dates=["saledate"])

* `parse_dates`  —  A list of any columns that contain dates
* `low_memory=False`  —  Forces it to read more of the file to decide what the types are.

In any sort of data science work, it's **important to look at your data**, to make sure you understand the format, how it's stored, what type of values it holds, etc. Even if you've read descriptions about your data, the actual data may not be what you expect.

In [6]:
df_raw.shape

(401125, 53)

In [7]:
def display_all(df):
    with pd.option_context("display.max_rows", 5, "display.max_columns", 10): 
        display(df)

In [8]:
display_all(df_raw.tail().T)

                    401120   401121   401122   401123   401124
SalesID            6333336  6333337  6333338  6333341  6333342
SalePrice            10500    11000    11500     9000     7750
...                    ...      ...      ...      ...      ...
Differential_Type      NaN      NaN      NaN      NaN      NaN
Steering_Controls      NaN      NaN      NaN      NaN      NaN

[53 rows x 5 columns]

In [9]:
display_all(df_raw.describe(include='all').T)

,count,unique,top,freq,first,...,min,25%,50%,75%,max
SalesID,401125,NaN,NaN,NaN,NaN,...,1.13925e+06,1.41837e+06,1.63942e+06,2.24271e+06,6.33334e+06
SalePrice,401125,NaN,NaN,NaN,NaN,...,4750,14500,24000,40000,142000
...,...,...,...,...,...,...,...,...,...,...,...
Differential_Type,69411,4,Standard,68073,NaN,...,NaN,NaN,NaN,NaN,NaN
Steering_Controls,69369,5,Conventional,68679,NaN,...,NaN,NaN,NaN,NaN,NaN

The variable we want to predict is called *Dependent Variable* in this case our dependent variable is `SalePrice`.

It's important to note what metric is being used for a project. Generally, selecting the metric(s) is an important part of the project setup. However, in this case Kaggle tells us what metric to use: RMSLE (root mean squared log error) between the actual and predicted auction prices. Therefore we take the log of the prices, so that RMSE will give us what we need.

### METRIC

The evaluation metric is RMSLE – which is basically the RMSE between the log values of the result. So we will transform the target variable by taking it’s log values. This is where the popular library numpy comes to the rescue.

In [10]:
df_raw.SalePrice = np.log(df_raw.SalePrice)
df_raw.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,11.097410,999089,3157,121,3.0,2004,68.0,Low,2006-11-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,10.950807,117657,77,121,3.0,1996,4640.0,Low,2004-03-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,9.210340,434808,7009,121,3.0,2001,2838.0,High,2004-02-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,10.558414,1026470,332,121,3.0,2001,3486.0,High,2011-05-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,9.305651,1057373,17311,121,3.0,2007,722.0,Medium,2009-07-23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data Pre-processing

The above code will result in an error. There was a value inside the dataset “Conventional”, and it did not know how to create a model using that String. We have to pass numbers to most machine learning models and certainly to random forests. So step 1 is to convert everything into numbers.

This dataset contains a mix of **continuous** and **categorical** variables.

**continuous** — numbers where the meaning is numeric such as price.
categorical — either numbers where the meaning is not continuous like zip code or string such as “large”, “medium”, “small”
Here are some of the information we can extract from date — year, month, quarter, day of month, day of week, week of year, is it a holiday? weekend? was it raining? was there a sport event that day? It really depends on what you are doing. If you are predicting soda sales in SoMa, you would probably want to know if there was a San Francisco Giants ball game that day. What is in a date is one of the most important piece of feature engineering you can do and no machine learning algorithm can tell you whether the Giants were playing that day and that it was important. So this is where you need to do feature engineering.

The `add_datepart` method extracts particular date fields from a complete datetime for the purpose of constructing categoricals. You should always consider this feature extraction step when working with date-time. Without expanding your date-time into these additional fields, you can’t capture any trend/cyclical behavior as a function of time at any of these granularities.

In [11]:
add_datepart(df_raw, 'saledate')
df_raw.saleYear.head()

0    2006
1    2004
2    2004
3    2011
4    2009
Name: saleYear, dtype: int64

Let's take a look on all columns we have now, after run add_datepart we have some extra features which indicates ear, month, day of month, day of the week, holiday or not, weekend or weekday, was it raining?, etc.

In [12]:
df_raw.columns

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Blade_Extension', 'Blade_Width', 'Enclosure_Type',
       'Engine_Horsepower', 'Hydraulics', 'Pushblock', 'Ripper', 'Scarifier',
       'Tip_Control', 'Tire_Size', 'Coupler', 'Coupler_System',
       'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'saleYear', 'saleMonth',
       'saleWeek', 'saleDay', 'saleDayofweek', 'saleDayofyear',
       'saleIs_month_end', 'saleIs_month_start', 'saleIs_quarter_end',
       'saleIs_quarter_start', 'saleIs_year_end', 'saleIs_year_start',
       'saleElapsed'],
      dtype='object')

In [13]:
display_all(df_raw.describe(include='all').T)

,count,unique,top,freq,mean,...,min,25%,50%,75%,max
SalesID,401125,NaN,NaN,NaN,1.91971e+06,...,1.13925e+06,1.41837e+06,1.63942e+06,2.24271e+06,6.33334e+06
SalePrice,401125,NaN,NaN,NaN,10.1031,...,8.4659,9.5819,10.0858,10.5966,11.8636
...,...,...,...,...,...,...,...,...,...,...,...
saleIs_year_start,401125,1,False,401125,NaN,...,NaN,NaN,NaN,NaN,NaN
saleElapsed,401125,NaN,NaN,NaN,1.09143e+09,...,6.00998e+08,9.70877e+08,1.14307e+09,1.23785e+09,1.3252e+09

After running `add_datepart`, it added many numerical columns and removed `saledate` column. This is not quite enough to get passed the error we saw earlier as we still have other columns that contain string values. Pandas has a concept of a category data type, but by default it would not turn anything into a category for you. `train_cats` creates categorical variables for everything that is a String. Behind the scenes, it creates a column that is an integer and it is going to store a mapping from the integers to the strings. `train_cats` is called “train” because it is training data specific. It is important that validation and test sets will use the same category mappings (in other words, if you used 1 for “high” for a training dataset, then 1 should also be for “high” in validation and test datasets). For validation and test dataset, use apply_cats instead.

The categorical variables are currently stored as strings, which is inefficient, and doesn't provide the numeric coding required for a random forest. Therefore we call `train_cats` to convert strings to pandas categories.

In [14]:
train_cats(df_raw)

In [15]:
df_raw.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,saleDay,saleDayofweek,saleDayofyear,saleIs_month_end,saleIs_month_start,saleIs_quarter_end,saleIs_quarter_start,saleIs_year_end,saleIs_year_start,saleElapsed
0,1139246,11.097410,999089,3157,121,3.0,2004,68.0,Low,521D,...,16,3,320,False,False,False,False,False,False,1163635200
1,1139248,10.950807,117657,77,121,3.0,1996,4640.0,Low,950FII,...,26,4,86,False,False,False,False,False,False,1080259200
2,1139249,9.210340,434808,7009,121,3.0,2001,2838.0,High,226,...,26,3,57,False,False,False,False,False,False,1077753600
3,1139251,10.558414,1026470,332,121,3.0,2001,3486.0,High,PC120-6E,...,19,3,139,False,False,False,False,False,False,1305763200
4,1139253,9.305651,1057373,17311,121,3.0,2007,722.0,Medium,S175,...,23,3,204,False,False,False,False,False,False,1248307200

In [16]:
df_raw.UsageBand.cat.categories

Index(['High', 'Low', 'Medium'], dtype='object')

The order does not matter too much, but since we are going to be creating a decision tree that split things at a single point (i.e. `High` vs. `Low` and `Medium` , `High` and `Low` vs. `Medium` ) which is a little bit weird. To order them in a sensible manner, you can do the following:

In [17]:
df_raw.UsageBand.cat.set_categories(['High', 'Medium', 'Low'], ordered=True, inplace=True)

`inplace` will ask Pandas to change the existing dataframe rather than returning a new one.

Normally, pandas will continue displaying the text categories, while treating them as numerical data internally. Optionally, we can replace the text categories with numbers, which will make this variable non-categorical, like so:.

In [18]:
df_raw.UsageBand = df_raw.UsageBand.cat.codes

In [19]:
print(df_raw.UsageBand)

0         2
1         2
2         0
3         0
4         1
5         2
6         0
7         0
8         2
9         1
10        1
11        2
12       -1
13        1
14        2
15        1
16        2
17       -1
18        2
19        1
20        1
21        1
22        2
23        0
24        1
25        1
26        2
27       -1
28        2
29        1
         ..
401095   -1
401096   -1
401097   -1
401098   -1
401099   -1
401100   -1
401101   -1
401102   -1
401103   -1
401104   -1
401105   -1
401106   -1
401107   -1
401108   -1
401109   -1
401110   -1
401111   -1
401112   -1
401113   -1
401114   -1
401115   -1
401116   -1
401117   -1
401118   -1
401119   -1
401120   -1
401121   -1
401122   -1
401123   -1
401124   -1
Name: UsageBand, Length: 401125, dtype: int8

We're still not quite done - for instance we have lots of missing values, which we can't pass directly to a decision tree.

### MISSING DATA

We use .isnull().sum() to get the total number of missing values. This is divided by the length of the dataset to determine the ratio of missing values.

In [20]:
display_all(df_raw.isnull().sum().sort_index()/len(df_raw))

Backhoe_Mounting    0.803872
Blade_Extension     0.937129
                      ...
saleYear            0.000000
state               0.000000
Length: 65, dtype: float64

### Continue to pre-process data

We'll replace categories with their numeric codes, handle missing continuous values, and split the dependent variable into a separate variable.

In [21]:
df, y, nas = proc_df(df_raw, 'SalePrice')

* `df` — data frame
* `y_fld` — name of the dependent variable
* It makes a copy of the data frame, grab the dependent variable values `(y_fld)`, and drop the dependent variable from the data frame.
* Then it will `fix_missing` (see below)
* We then will go through the data frame and call `numericalize` (see below).
* `dummies` — There are columns with a small number of possible values, you can put into dummies instead of numericalizing them. But we will not do that for now.

`fix_missing`
* For numeric data type, first we check if there is null column. If so, it will create a new column with a name with `_na` appended at the end and set it to 1 if it is missing; 0 otherwise (boolean). It will then replace the missing value with a median.
* We do not need to do this for categorical variables because Pandas handles them automatically by setting them to `-1`.

`numericalize`
If it is not numeric and is a categorical type, we will replace the column with its code plus 1. By default pandas uses -1 for missing, so now missing will have an ID of 0 .

In [23]:
df.head(50)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,fiBaseModel,...,saleDayofyear,saleIs_month_end,saleIs_month_start,saleIs_quarter_end,saleIs_quarter_start,saleIs_year_end,saleIs_year_start,saleElapsed,auctioneerID_na,MachineHoursCurrentMeter_na
0,1139246,999089,3157,121,3.0,2004,68.0,2,950,296,...,320,False,False,False,False,False,False,1163635200,False,False
1,1139248,117657,77,121,3.0,1996,4640.0,2,1725,527,...,86,False,False,False,False,False,False,1080259200,False,False
2,1139249,434808,7009,121,3.0,2001,2838.0,0,331,110,...,57,False,False,False,False,False,False,1077753600,False,False
3,1139251,1026470,332,121,3.0,2001,3486.0,0,3674,1375,...,139,False,False,False,False,False,False,1305763200,False,False
4,1139253,1057373,17311,121,3.0,2007,722.0,1,4208,1529,...,204,False,False,False,False,False,False,1248307200,False,False
5,1139255,1001274,4605,121,3.0,2004,508.0,2,493,175,...,353,False,False,False,False,False,False,1229558400,False,False
6,1139256,772701,1937,121,3.0,1993,11540.0,0,1453,419,...,239,False,False,False,False,False,False,1093478400,False,False
7,1139261,902002,3539,121,3.0,2001,4883.0,0,740,243,...,321,False,False,False,False,False,False,1132185600,False,False
8,1139272,1036251,36003,121,3.0,2008,302.0,2,779,250,...,239,False,False,False,False,False,False,1251331200,False,False
9,1139275,1016474,3883,121,3.0,1000,20700.0,1,1771,540,...,221,False,False,False,False,False,False,1186617600,False,False
10,1139278,1024998,4605,121,3.0,2004,1414.0,1,493,175,...,234,False,False,False,False,False,False,1219276800,False,False
11,1139282,319906,5255,121,3.0,1998,2764.0,2,2028,683,...,236,False,False,False,False,False,False,1156377600,False,False
12,1139283,1052214,2232,121,3.0,1998,0.0,-1,3761,1388,...,293,False,False,False,False,False,False,1129766400,False,False
13,1139284,1068082,3542,121,3.0,2001,1921.0,1,747,245,...,26,False,False,False,False,False,False,1138233600,False,False
14,1139290,1058450,5162,121,3.0,2004,320.0,2,274,100,...,3,False,False,False,False,False,False,1136246400,False,False
15,1139291,1004810,4604,121,3.0,1999,2450.0,1,491,175,...,320,False,False,False,False,False,False,1163635200,False,False
16,1139292,1026973,9510,121,3.0,1999,1972.0,2,612,199,...,165,False,False,False,False,False,False,1181779200,False,False
17,1139299,1002713,21442,121,3.0,2003,0.0,-1,878,264,...,28,False,False,False,False,False,False,1264636800,False,False
18,1139301,125790,7040,121,3.0,2001,994.0,2,451,166,...,68,False,False,False,False,False,False,1141862400,False,False
19,1139304,1011914,3177,121,3.0,1991,8005.0,1,1073,324,...,321,False,False,False,False,False,False,1132185600,False,False
20,1139311,1014135,8867,121,3.0,2000,3259.0,1,3127,1058,...,138,False,False,False,False,False,False,1147910400,False,False
21,1139333,999192,3350,121,3.0,1000,16328.0,1,67,20,...,292,False,False,False,False,False,False,1161216000,False,False
22,1139344,1044500,7040,121,3.0,2005,109.0,2,451,166,...,298,False,False,False,False,False,False,1193270400,False,False
23,1139346,821452,85,121,3.0,1996,17033.0,0,1751,533,...,292,False,False,False,False,False,False,1161216000,False,False
24,1139348,294562,3542,121,3.0,2001,1877.0,1,747,245,...,141,False,False,False,False,False,False,1085011200,False,False
25,1139351,833838,7009,121,3.0,2003,1028.0,1,331,110,...,68,False,False,False,False,False,False,1141862400,False,False
26,1139354,565440,7040,121,3.0,2003,356.0,2,451,166,...,68,False,False,False,False,False,False,1141862400,False,False
27,1139356,1004127,25458,121,3.0,2000,0.0,-1,2741,852,...,53,False,False,False,False,False,False,1172102400,False,False
28,1139357,44800,19167,121,3.0,2004,904.0,2,1260,371,...,221,False,False,False,False,False,False,1186617600,False,False
29,1139358,1018076,1333,121,3.0,1998,10466.0,1,633,206,...,152,False,True,False,False,False,False,1149120000,False,False
30,1139363,871201,1263,121,3.0,1999,15633.0,0,595,196,...,295,False,False,False,False,False,False,1287705600,False,False
31,1139365,973717,9566,121,3.0,2001,2097.0,1,1616,482,...,81,False,False,False,False,False,False,1174521600,False,False
32,1139367,1036100,9109,121,3.0,1995,7542.0,1,4733,1846,...,208,False,False,False,False,False,False,1153958400,False,False
33,1139369,1050658,1918,121,3.0,1000,0.0,-1,1369,403,...,28,False,False,False,False,False,False,1264636800,False,False
34,1139379,70214,13395,121,3.0,2004,587.0,1,458,167,...,152,False,True,False,False,False,False,1149120000,False,False
35,1139382,1068548,112,121,3.0,1000,3981.0,2,1734,526,...,160,False,False,False,False,False,False,1307577600,False,False
36,1139390,1011114,7110,121,3.0,1000,0.0,-1,735,243,...,139,False,False,False,False,False,False,1305763200,False,False
37,1139398,138847,7043,121,3.0,2001,765.0,1,455,168,...,141,False,False,False,False,False,False,1085011200,False,False
38,1139401,1011478,18604,121,3.0,2003,0.0,-1,1891,634,...,205,False,False,False,False,False,False,1248393600,False,False
39,1139409,999090,3362,121,3.0,1000,2223.0,2,106,30,...,166,False,False,False,False,False,False,1308096000,False,False
40,1139412,108090,1088,121,3.0,2006,1125.0,1,475,173,...,176,False,False,False,False,False,False,1245888000,False,False
41,1139413,1045512,5853,121,3.0,2001,2425.0,2,2485,772,...,56,False,False,False,False,False,False,1267056000,False,False
42,1139415,1066239,17188,121,3.0,1996,5396.0,1,3550,1293,...,349,False,False,False,False,False,False,1134604800,False,False
43,1139418,1026462,6270,121,3.0,2001,678.0,2,4161,1490,...,190,False,False,False,False,False,False,1247097600,False,False
44,1139421,1048704,2797,121,3.0,2000,3817.0,2,2583,814,...,167,False,False,False,False,False,False,1308182400,False,False
45,1139423,999442,3217,121,3.0,2003,1788.0,0,1288,375,...,348,False,False,False,False,False,False,1166054400,False,False
46,1139424,1011821,4818,121,3.0,1000,5074.0,2,1424,412,...,322,False,False,False,False,False,False,1290038400,False,False
47,1139426,625882,23937,121,3.0,1996,8270.0,2,141,41,...,218,False,False,False,False,False,False,1249516800,False,False
48,1139429,1007166,7002,121,3.0,2001,2128.0,1,297,102,...,189,False,False,False,False,False,False,1247011200,False,False
49,1139432,362075,1078,121,3.0,2003,1457.0,1,463,169,...,236,False,False,False,False,False,False,1156377600,False,False

### RANDOM FOREST

We have dealt with the categorical columns and the date values. We have also taken care of the missing values. Now we can finally power up and build the random forest model we have been inching towards.

In [24]:
m = RandomForestRegressor(n_jobs=-1)
m.fit(df, y)
m.score(df,y)

/home/hoangnguyen/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9830069889343402

In statistics, the coefficient of determination, denoted R2 or r2 and pronounced "R squared", is the proportion of the variance in the dependent variable that is predictable from the independent variable(s). https://en.wikipedia.org/wiki/Coefficient_of_determination

In [25]:
def split_vals(a,n): return a[:n].copy(), a[n:].copy()

n_valid = 120000  # same as Kaggle's test set size
n_trn = len(df)-n_valid
raw_train, raw_valid = split_vals(df_raw, n_trn)
X_train, X_valid = split_vals(df, n_trn)
y_train, y_valid = split_vals(y, n_trn)

X_train.shape, y_train.shape, X_valid.shape, y_valid.shape

((281125, 66), (281125,), (120000, 66), (120000,))

## Base model

Let's try our model again, this time with separate training and validation sets.

In [26]:
def rmse(x,y): return math.sqrt(((x-y)**2).mean())

def print_score(m):
    res = [rmse(m.predict(X_train), y_train), rmse(m.predict(X_valid), y_valid),
                m.score(X_train, y_train), m.score(X_valid, y_valid)]
    if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
    print(res)

In [27]:
m = RandomForestRegressor(n_jobs=-1)
%time m.fit(X_train, y_train)
print_score(m)

/home/hoangnguyen/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

CPU times: user 1min 12s, sys: 756 ms, total: 1min 13s
Wall time: 29.4 s
[0.09057572971017086, 0.48247655528284444, 0.9825913652307883, 0.5358906540830277]

### SAVE MODEL

In [28]:
from sklearn.externals import joblib

/home/hoangnguyen/anaconda3/lib/python3.6/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [29]:
joblib.dump(m, 'model')

['model']

### LOAD MODEL FROM FILE

In [30]:
m_loaded=joblib.load('model')